body {
    background-color: rgb(50, 112, 204);  
    margin: 0px
}

p {color: rgba(0, 20, 20, 0.918);{

}

.brilho {

    font-style:italic;

}
]blue {
    width: 60;.

}
header {
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}